@import '../../components/navbar/Navbar.module.css';

.bgNavbar {
  position: absolute;
}

.bgAbout {
  display: flex;
  background: url(../../img/about-bg.jpg) center center/cover no-repeat
    padding-box;
  width: 100%;
}

.bgTitle {
  font: bold 5.125rem/90px 'Rubik', sans-serif;
  color: white;
  width: 85%;
  margin: 250px auto 74px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 85%;
  margin: 193px auto 183px auto;
  justify-content: center;
  gap: 50px;
}

.paragraph {
  max-width: 753px;
  font: 1rem /35px 'Rubik', sans-serif;
  color: var(--paragraphColor);
}

.paragraph a {
  color: var(--button-color);
}
.paragraph a:hover {
  color: var(--button-color-hover);
}

.paragraphTitle {
  color: var(--titleTwoColor);
  font: bold 2.75rem/48px 'Rubik', sans-serif;
  margin-bottom: 25px;
}

.containerIllustration {
  max-width: 637.52px;
}

.illustration {
  width: 100%;
  min-height: 100%;
}

/* Responsivo */

@media screen and (max-width: 1112px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 120px;
  }

  .bgTitle {
    font-size: 3.7rem;
  }

  .paragraph {
    font: 1.325rem/25px 'Rubik', sans-serif;
  }

  .paragraph,
  .containerIllustration {
    max-width: unset;
  }

  .containerIllustration {
    display: flex;
    justify-content: center;
  }

  .illustration {
    width: 90%;
    max-width: 650px;
  }
}

@media screen and (max-width: 450px) {
  .bgTitle {
    width: 100%;
    font: bold 2.357143rem/36px 'Rubik', sans-serif;
    margin: 109px auto 58px auto;
    text-align: center;
  }

  .container {
    margin-top: 55px;
  }

  .paragraph {
    font: 1.07143rem/21px 'Rubik', sans-serif;
  }

  .paragraphTitle {
    font: bold 1.57143rem/29px 'Rubik', sans-serif;
  }

  .illustration {
    max-width: 298px;
  }
}

/* MEMBROS */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 0.23086fr);
  width: 90%;
  margin: auto;
  margin-bottom: 145px;
  justify-content: space-between;
  text-align: center;
}

.itemContainer {
  width: 100%;
  box-shadow: 0px 5px 10px var(--boxShadowCard);
  border: 1px solid var(--borderCardColor);
  border-radius: 10px;
}

.item {
  width: 78.572%;
  margin: auto;
  margin-top: 40px;
}

.title {
  width: 85%;
  color: var(--titleTwoColor);
  font: bold 2.75rem/48px 'Rubik', sans-serif;
  margin: 0 auto 66px auto;
}

.photo {
  min-width: 170px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font: bold 2rem/35px 'Rubik', sans-serif;
  max-height: 35px;
  margin: 25px auto 45px auto;
  color: var(--paragraphColor);
}

.paragraphResume {
  margin-bottom: 25px;
  font: normal normal normal 19px/25px Rubik;
  letter-spacing: 0.23px;
  border: solid 2px blue;
  min-height: 205px;
  /* max-height: 170px; */
  color: var(--paragraphColor);
  text-align: center;
}

.socialIcons {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  gap: 32.65px;
  align-items: center;
  justify-content: center;
  margin-bottom: 39.16px;
}

@media screen and (max-width: 1112px) {
  .gridContainer {
    grid-template-columns: repeat(2, 0.4fr);
    gap: 20px 10px;
    justify-content: space-evenly;
    min-width: 460px;
  }

  .itemContainer {
    min-width: 230px;
  }
}

@media screen and (max-width: 450px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 46px;
    min-width: unset;
  }

  .item {
    margin-top: 36px;
  }

  
  .title {
    font: bold 1.57143rem/29px 'Rubik', sans-serif;
  }

  .name {
    margin: 22px auto 24px auto;
    font: bold 2rem/31px 'Rubik', sans-serif;
  }

  .paragraphResume {
    margin-bottom: 22.14px;
    font: 1.35714rem/25px 'Rubik', sans-serif;
    min-height: unset;
  }

  .socialIcons {
    margin-bottom: 35.2px;
  }
}
