
.bgAbout {
  display: inline-block;
  background: url(../../img/about-bg.jpg) no-repeat;
  width: 100%;
  height: 422px;
}

.bgTitle {
  /* line height original 90 muito colado,
  quando quebra diminui para 80*/
  font: bold 5.5em/80px 'Rubik', sans-serif;
  color: #fff;
  /* border: solid 2px black; */
  margin: 250px 0px 0px 140px;
}

.container {
  display: flex;
  justify-content: space-between;
  /* margin-top: 193px; */
  width: 100%;
  /* border: solid blue; */
  margin: 194px auto;
  padding: 20px 135px;
  /* border: solid blue; */
}

.paragraph {
  width: 754px;
  min-width: 350px;
  /* border: 2px solid red; */
}

.paragraphTitle {
  color: var(--titleTwoColor);
  font: bold 2.9em/48px 'Rubik', sans-serif;
  margin-bottom: 25px;
}

.illustration {
  width: 100%;
  min-width: 400px;
  /* border: 4px solid rebeccapurple; */
}
