
/* Também não há necessidade de utilizar isso pois já está feito  na pasta css arquivo Global.css e em reset.css att joao /*

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* 
classes e tags que estão afetando outras paginas
a classe container e as suas tags body header estão afetando outras paginas
evite estilizar diretamente na tag para evitar afetar outras paginas, se for preciso
utilizar uma tag para seleção, utilize ela junto de uma classe para ser mais especifico e não afetar outras
páginas..

att joao

*/

body{
	background-image: url("../../img/login-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Rubik;
}


.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
header{
	display: flex;
	width: 100%;
	height: 80px;
	align-items: center;
	justify-content: space-between;
}
.logo{
	margin-left: 64px;
	height: 42px;
}
.homeButton{
	display: flex;
	cursor: pointer;
	margin-right: 64px;
	background: #D842BD;
	border: none;
	border-radius: 25px;
	height: 49px;
	padding: 25px;
	align-items: center;
	letter-spacing: 2.55px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
}
.homeButton img{
	margin-right: 28px;
}
.loginContainer{
	display: flex;
	flex-direction: column;
	margin: 236px auto;
	width: 553px;
	height: 608px;
	background: #FFFFFF;
	color:  black;
	border-radius: 14px;
}
.loginForm{
	margin: 131px auto;
}
.loginForm h3{
	text-align: center;
	color: #3634F7;
	font-size: 35px;
	font-weight: bold;
}
.usernameSection, .passwordSection{
	display: flex;
	flex-direction: column;
	height: 57.5px;
	font-size: 17px;
	color: #292929;
}
.usernameSection{
	margin-top: 118px;
}
.usernameLabel, .paswordLabel{
	margin-bottom: 1px;
}
.usernameInput, .passwordInput{
	border-radius: 5px;
}
.accessButton{
	background: #3633F7;
	margin-top: 20px;
	border: none;
	border-radius: 34px;
	height: 56px;
	width: 205px;
	color: #FFFFFF;
	font-size: 19px;
	letter-spacing: 0.57px;
}