.container nav {
	position: absolute;
}

body .container{
	background-image: url("../../img/login-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Rubik;
}
.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.loginContainer{
	display: flex;
	flex-direction: column;
	margin: 236px auto;
	width: 553px;
	height: 608px;
	background: #FFFFFF;
	color:  black;
	border-radius: 14px;
}
.loginForm{
	width: 82.64%;
	margin: 131px auto;
}
.loginForm h3{
	text-align: center;
	color: #3634F7;
	font-size: 35px;
	font-weight: bold;
}
.usernameSection, .passwordSection{
	display: flex;
	flex-direction: column;
	height: 57.5px;
	width: 100%;
	font-size: 17px;
	color: #292929;
}
.usernameSection{
	margin-top: 118px;
}
input::placeholder{
	color: #292929;
}
.usernameInput, .passwordInput{
	width: 100%;
	outline: none;
	border:  none;
	border-bottom: 2px solid #E9E9F0;
}
.accessButton{
	display: flex;
	background: #3633F7;
	margin: 0 auto;
	margin-top: 20px;
	border: none;
	border-radius: 34px;
	height: 56px;
	width: 205px;
	color: #FFFFFF;
	font-size: 19px;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.57px;
	cursor: pointer;
}
@media  screen and (max-width: 1200px) {
	.loginContainer{
		width: 460px;
		height: 460px;
		margin: 181px 37px;
	}
	.loginForm{
		margin-top: 62px;
	}
	.loginForm h3{
		font-size: 34px;
	}
	.usernameSection, .passwordSection{
		height: 32px;
	}
	.usernameSection{
		margin-top: 86px;
	}
	.passwordSection{
		margin-top: 72px;
	}
	.accessButton{
		margin-top: 40px;
		height: 58px;
		width: 213px;
		font-size: 18px;
	}
}
@media  screen and (max-width: 800px) {
	.loginContainer{
		width: 350px;
	}
	.accessButton{
		font-size: 15px;
		letter-spacing: 0;
		font-weight: bolder;
	}
}

@media  screen and (max-width: 400px) {
		.loginContainer{
			width: 300px
		}
}
