.header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bgHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding: 0 3.125rem;
}

.bgHeader h2 {
  font-size: 2rem;
  color: var(--titleOneColor);
  font-family: var(--fontMain);
}

.bgHeader strong {
  font-weight: bold;
}

/* BOTÕES */

.bgButton {
  display: flex;
}

.imgButtonInfo {
  background-image: url("../../../img/icon-info-circle.svg");
  background-repeat: no-repeat;

  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.imgButtonLogout {
  background-image: url("../../../img/icon-power-off.svg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

button:first-child {
  background-color: var(--button-color);
  color: var(--titleOneColor);
  margin: 0 2.1875rem;
}
button:last-child {
  background-color: var(--titleTwoColor);
  color: var(--titleOneColor);
}

button:first-child:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

button:last-child:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
