@import '../../css/Global.css';

.bgNavbar nav{
  position: absolute;
}

/* CORPO DO CABEÇALHO */
.bgHeader{
  height: 790px;
  width: 100%;
  background-image: url('../../img/hero-bg.jpg');
  background-size: cover;
  box-shadow: inset 0 -120px var(--titleOneColor);
}

/* ESTILIZA OS TEXTOS DO CABEÇALHO */
.bgTitle{
  margin-left: 140px;
  margin-top: 250px;
}

.bgTitle h1 {
  font-size: 82px;
  width: 800px;
  color: var(--titleOneColor);
  font-family: var(--fontMain);
  font-weight: bold;
}

.bgTitle p {
  font-size: 31px;
  font-family: var(--fontMain);
  color: var(--titleOneColor);
  width: 610px;
  margin-top: 30px;
 /*  font-weight: bold; */
}

/* ESTILIZA O INPUT DE PESQUISA */
.bgSearch{
  width: 50%;
  background-color: var(--titleOneColor);
  margin: 0 auto;
  margin-top: 110px;
  border-radius: 72px;
  display: flex;
  align-items: center;
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  outline: none;
  transition: 0.5s;
  height: 119px;
}

.bgSearch:Hover{
box-shadow: 20px 15px 20px var(--color-box-shadow);
}

/* ESTILIZA A IMAGEM DO CAMPO DE BUSCA */
.bgImageSearch {
  padding: 47px 21px 50px 60px;
}

/* ESTILIZA O CAMPO DE BUSCA */
.bgInputSearch{
    display: flex;
    width: 100%;
    height: 100%;
}

/* INPUT DE PESQUISA */
.bgInputSearch input {
  width: 100%;
  border: none;
  border-radius: 72px;
  outline: none;
  font-size: 50px;
}

.bgInputSearch input::placeholder{
  color: var(--color-input-search);
  opacity: 0.31;
  letter-spacing: 0;
}

/* TEXTO DE EXIBIÇÃO DE IMAGENS */
.bgMain{
  width: 100%;
  display: block;
  justify-content: center;
  margin-top: 50px;
}

.bgDisplaySearch{
  display: flex;
  justify-content: center;
}

.bgDisplaySearch h2{
  font: bold 2rem /44px 'Rubik', sans-serif;
/*   font-size: 32px; */
  color: var(--titleTwoColor);
  letter-spacing: 0;
  margin-bottom: 114px;

}

/* ESTILIZAÇÃO DOS CARDS DE TWEETS */
.flexCard{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 125px 187px;
}

/* ESTILIZAÇÃO DA GALERIA */
.bgImageGallery img{
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  border-radius: 21px;
}

.bgImageGallery p{
  position: absolute;
  top: 0;
  padding-top: 215px;
  padding-left: 20px;
  color: var(--titleOneColor);
  font: normal normal normal 17px/19px Rubik;
  text-align: left;
}

.bgImageGallery span{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 240px;
  padding-left: 20px;
  color: var(--titleOneColor);
  font: 21px/23px var(--fontMain);
  text-align: left;
}