@import '../../css/Global.css';

/* NAVBAR */
.bgNavbar nav{
  position: absolute;
}


/* CORPO DO CABEÇALHO */
.bgHeader{
  height: 790px;
  width: 100%;
  background-image: url('../../img/hero-bg.jpg');
  background-size: cover;
  box-shadow: inset 0 -40px var(--titleOneColor);
}

/* ESTILIZA OS TEXTOS DO CABEÇALHO */
.bgTitle{
  margin-left: 140px;
  margin-top: 250px;
}

.bgTitle h1 {
  font-size: 82px;
  width: 804px;
  color: var(--titleOneColor);
  font-family: var(--fontMain);
  font-weight: bold;
}

.bgTitle p {
  font-size: 31px;
  font-family: var(--fontMain);
  color: var(--titleOneColor);
  width: 608px;
  margin-top: 30px;
 /*  font-weight: bold; */
}

/* ESTILIZA O INPUT DE PESQUISA */
.bgSearch{
  width: 50%;
  background-color: var(--titleOneColor);
  margin: 0 auto;
  margin-top: 185px;
  border-radius: 72px;
  display: flex;
  align-items: center;
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  outline: none;
  transition: 0.5s;
  height: 119px;
}

.bgSearch:Hover{
box-shadow: 20px 15px 20px var(--color-box-shadow);
}

/* ESTILIZA A IMAGEM DO CAMPO DE BUSCA */
.bgImageSearch {
  padding: 47px 21px 50px 60px;
}

/* ESTILIZA O CAMPO DE BUSCA */
.bgInputSearch{
    display: flex;
    width: 100%;
    height: 100%;
}

/* INPUT DE PESQUISA */
.bgInputSearch input {
  width: 100%;
  border: none;
  border-radius: 72px;
  outline: none;
  font-size: 50px;
}

.bgInputSearch input::placeholder{
  color: var(--color-input-search);
  opacity: 0.31;
  letter-spacing: 0;
}

/* TEXTO DE EXIBIÇÃO DE IMAGENS */
.bgMain{
  width: 100%;
  display: block;
  justify-content: center;
}

.bgDisplaySearch{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 185px 114px;
}

.bgDisplaySearch h2{
  font-weight: bold;
  font-family: var(--fontMain);
  font-size: 32px;
  color: var(--titleTwoColor);
  letter-spacing: 0;
}

/* ESTILIZAÇÃO DOS CARDS DE TWEETS */
.flexCard{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 77px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 125px 187px;
}

/* ESTILIZAÇÃO DA GALERIA */
.bgImageGallery img{
  box-shadow: 8px 14px 30px var(--color-box-shadow);
  border-radius: 21px;
  padding: 5px;
}

.bgImageGallery p{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 215px;
  padding-left: 20px;
  color: var(--titleOneColor);
  font: normal normal normal 17px/19px Rubik;
  text-align: left;
}

.bgImageGallery span{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 240px;
  padding-left: 20px;
  color: var(--titleOneColor);
  font: 21px/23px var(--fontMain);
  text-align: left;
}

/* RESPOSTA DO CAMPO INPUT */
.bgResponse{
    justify-content: center;
    display: flex;
    margin-top: 60px;
}
.textResponse{
  font-size: 24px;
  font-family: var(--fontMain);
}

/* RESPONSIVO HOME DESKTOP */
@media screen and (max-width: 1112px) {
  .bgSearch{
    width: 70%;
  }
  .bgTitle h1,
  .bgTitle p{
    width: 100%;
  }
  .bgTitle h1 {
    font-size: 4.4rem;
  }
}
@media screen and (max-width: 906px) {
 .bgTitle{
   margin-left: 0;
 }
}

/* RESPONSIVO TABLET */
@media screen and (max-width: 768px) {
  .bgHeader{
    box-shadow: none;
    height: 620px; 
  }
  .bgTitle{
    margin-left: 120px;
    margin-top: 90px;
  }
  .bgTitle h1{
    font-size: 66px;
  }
  .bgTitle p{
    font-size: 22px;
  }
  .bgImageGallery{
    justify-content: left;
  }
  .bgImageGallery p {
    padding-top: 200px;
  }
  .bgImageGallery span {
    font-size: 18px;
  }
  .bgDisplaySearch{
    margin: 100px 50px;
  }
}

@media screen and (min-width: 741px) and (max-width: 768px){
  .bgTitle h1{
    font-size: 82px;
  }
  .bgTitle p{
    font-size: 31px;
  }

  .bgSearch{
    margin-top: 130px;
  }
}

/* RESPONSIVO HOME MOBILE */
@media screen and (max-width: 580px) {
  /* BACKGROUND DO HEADER */
  .bgHeader {
    height: 520px;
    box-shadow: none;
    background-image: url('../../img/hero-bg-mobile.jpg');
  }
  /* BACKGROUND DO TITULO*/
  .bgTitle {
    margin-top: 135px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* TITULO DO HEADER */
  .bgTitle h1 {
    font-size: 36px;
    width: 70%;
    height: max-content;
  }
  /* SUBTITULO DO HEADER */
  .bgTitle p {
    font: normal normal normal 16px/22px Rubik;
    width: 70%;
    margin-top: 12px;
  }
  /* CAMPO DE BUSCA DO HEADER */
  .bgSearch{
    width: 90%;
    height: 51px;
    margin-top: 72px;
  }
  /* IMAGEM DO CAMPO DE BUSCA */
  .bgImageSearch{
    padding: 8px 15px;
  }

  .bgImageSearch img{
   width: 20px;
   height: 15px;
  }
  /* INPUT DO CAMPO DE BUSCA */
  .bgInputSearch input{
    font-size: 17px;
  }
}

/* RESPONSIVO CARDS TWITTER */
@media screen and (min-width: 1305px) {
  .flexCard {
    margin: 125px 187px;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 480px) and (max-width: 1582px){
  .flexCard{
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
    margin: 50px 30px;
  }
}
@media screen and (min-width: 300px) and (max-width: 479px){
  .flexCard{
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 50px 30px;
  }
}

/* RESPONSIVO IMAGEM CARROSEL */
@media screen and (max-width:1500px) {
 /*  .bgImageGallery{
    justify-content: space-between;
  }
 */
  .bgImageGallery img{
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .bgImageGallery{
    justify-content: space-between;
  }

  .bgImageGallery img {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .bgImageGallery img{
    width: 160px;
  }
  .bgImageGallery p {
    padding-top: 160px;
    font-size: 16px;
  }
  .bgImageGallery span {
    padding-top: 200px;
    font-size: 13px;
  }
  .bgMain{
    margin-top: 0;
  }
  .bgDisplaySearch{
    margin: 54px 36px;
  }
  .bgMain h2{
    font-size: 22px;
    text-align: center;
  }
}