/* @import '../../css/Global.css'; */
.title {
  font-family: var(--fontMain);
  color: var(--titleOneColor);
  font-size: 2.5rem;
  font-weight: bold;
}

.table-container {
  /* antes width: auto; 
  margin-top:2.5rem   */ 
  border-radius: 0.875rem;
  background-color: var(--background-color-list-header);
  width: 90%;
  /* margin:10rem auto auto auto; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.table-header {
  font-family: var(--fontMain);
  font-size: 1.3rem;
  font-weight: 500;

  color: var(--titleTwoColor);
  background-color: var(--background-color-list-header);
  height: 6.625rem;
  border-radius: inherit;
  display: flex;
  width: 100%;

  padding-top: 3.5rem;
  padding-left: 3.9375rem;
}

.table-header span:first-child {
  min-width: 72%;
  max-width: 72%;
}

/* 
antes
.table-header span + span {
  min-width: 14%;
  max-width: 14%;
} */

.table-body {
  background-color: var(--background-color-list-body);
  border-radius: inherit;
}

.table-body .table-body-line:last-child {
  padding-bottom: 2.7rem;
}

.table-body-line {
  font-family: var(--fontMain);
  font-size: 1.3rem;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
  /* border: solid black 2px; */
  /* antes
   width: 100%;
   padding-left:3.5rem;*/
}

.date {
  display: flex;
  justify-content: space-between;
  border: solid 2px blue;
  width: 20%;
  min-width: 105px;
  max-width: 151px;
  padding: auto;
  color: var(--search-list-text-color);
}

/* antes
.table-body-line span:first-child {
  min-width: 71.8%;
  max-width: 71.8%;
}

.table-body-line span + span {
  min-width: 14%;
  max-width: 14%;
} */

/* .table-body-line span + span {
  color: var(--search-list-text-color);
} */

/* .table-body .divisor {
  content: "";
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-bottom: 3.0625rem;
  margin: 0 1rem;
}
antes
@media (max-width: 414px) {
  .title {
    width: 100%;
    height: 2.4375rem;

    text-align: center;
    display: block;
  }

  .table-header {
    padding-top: 1.125rem;
    padding-left: 1.1875rem;

    height: 3.0625rem;
    width: 100%;
  }

  .table-header span:first-child {
    max-width: 55%;
    min-width: 55%;
  }

  .table-body-line {
    padding-left: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .table-body-line span:first-child {
    min-width: 55%;
    max-width: 55%;
  }

  .table-body .table-body-line:last-child {
    padding-bottom: 1rem;
  }

  .table-header span + span {
    max-width: 20%;
    min-width: 20%;
  }

  .table-body-line span + span {
    min-width: 20%;
    max-width: 20%;
  }
} */
