.header {
  display: flex;
  width: 100%;
  height: 788px;
  background-image: url("../../img/hero-bg.jpg");
  background-size: cover;
}

.bgHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 50px;
}

.bgHeader h2 {
  font-size: 32px;
  color: var(--titleOneColor);
  font-family: var(--fontMain);
}

.bgHeader strong {
  font-weight: bold;
}

/* BOTÕES */

.bgButton {
  display: flex;
}

.imgButtonOn {
  background-image: url("../../img/icon-info-circle.svg");
  background-repeat: no-repeat;
  width: 12px;
  padding-right: 14px;
}

.imgButtonLogin {
  background-image: url("../../img/icon-user-alt.svg");
  background-repeat: no-repeat;
  width: 12px;
  padding-right: 14px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:first-child {
  background-color: var(--button-color);
  color: var(--titleOneColor);
  margin: 0 35px;
}
button:last-child {
  background-color: var(--titleTwoColor);
  color: var(--titleOneColor);
}
