@import "../../css/Global.css";

* {
  text-decoration: none;
}

/* ESTILIZA O CAMPO DE NAVEGAÇÃO */
.bgNav {
  height: 3.125rem;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 4.0625rem;
  top: 0;
  left: 0;
}

/* ESTILIZA O TITULO DA NAVEGAÇÃO */
.bgTitle h2 {
  font-family: var(--fontMain);
  color: var(--titleOneColor);
  font-size: 2.5rem;
}

/* ESTILIZA O STRONG QUE ESTÁ DENTRO DO H2 */
.bgTitle strong {
  font-weight: bold;
}

<<<<<<< HEAD
/* ESTILIZA OS BOTÕES DA NAVEGAÇÃO */
.bgButton button {
  height: 3.125rem;
  width: 10.625rem;
  border-radius: 1.5625rem;
=======
/* CONFIGURAÇÕES PADRÃO DOS BOTÕES */
.bgButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgButton button{
  height: 50px;
  width: 170px;
  border-radius: 25px;
>>>>>>> alexandre
  border: none;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontMain);
  font-weight: bold;
  letter-spacing: 2.55px;
  text-transform: uppercase;
}

<<<<<<< HEAD
/* BOTÃO SOBRE */
.bgAbout {
  background-color: var(--button-color);
  margin-right: 2.1875rem;
}

.bgAbout:hover {
  background-color: var(--button-color-hover);
}

/* BOTÃO LOGIN */
.bgLogin {
  background-color: var(--titleTwoColor);
}

.bgLogin:hover {
  background-color: var(--button-color-hover2);
}

/* MOBILE PARA A LISTA DE BUSCAS */
@media (max-width: 414px) {
  .bgNav {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 1.3125rem;
    width: 100%;
    text-align: center;
  }

  .bgTitle h2 {
    font-size: 1.4375rem;
  }

  .bgButton button {
    width: 6.625rem;
    height: 1.875rem;
    font-size: 0.75rem;
    margin-right: 0.875rem;
  }

  .bgButton .bgAbout {
    margin-left: 1.75rem;
  }

  .bgButton .bgLogin {
    margin-right: 0.1rem;
  }

  .bgButton {
    display: flex;
    flex-direction: row;
  }
}
=======
.bgButton a:first-child {
  margin-right: 35px;
}

.bgButton img{
  margin-right: 14px;
}
>>>>>>> alexandre
