.backgroundNav  {
  position: absolute;
  background: red;
  height: 90px;
}

.main-container {
  padding: 7.5rem 11.5rem 5.3125rem 11.5rem;
  min-width: 100vw;
  min-height: 100vh;

  background-image: url("../../img/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 850px) {
  .bgNav {
    font-size: 0.875rem;
    min-width: 25.875rem;
  }

  .main-container {
    min-width: 20.875rem;
    padding: 8rem 0.5625rem 0 0.5625rem;
  }
}
