.bgFooter {
  background-color: var(--button-color);
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgFooter p {
  color: #fff;
  font-size: 18px;
  font-family: var(--fontMain);
  font-weight: bold;
}