@import '../../css//Global.css';

.cardContainer {
  display: flex;
  width: 735px;
  background: var(--titleOneColor);
  border: 0.0625rem solid #ffffff24;
  border-radius: 0.9375rem;
  padding: 1.5625rem;
  gap: 0.9375rem;
  margin-bottom: 1.25rem;
  min-width: none;
  box-shadow:  8px 14px 30px var(--color-box-shadow);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  max-height: fit-content;
  margin: 0.3125rem;
}

.cardContentTitle {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
}

.cardContentTitle h3 {
  color: var(--paragraphColor);
  text-align: left;
  font-family: var(--fontMain);
  font-weight: bold;
  letter-spacing: 0.50px;
}

.cardContentTitle p {
  font-family: var(--fontMain);
  letter-spacing: 0rem;
  color: var(--paragraphColor);
  opacity: 0.43;
}

.cardContentTitle p:hover {
  color: var(--light-green);
  opacity: 1;
  font-weight: bold;
}

.tweetText {
  min-height: 5rem;
  width: 100%;
  max-height: fit-content;
  font: normal normal normal 1.0625rem/1.5625rem Rubik;
  color: var(--paragraphColor);
  letter-spacing: 0.0144rem;
  text-align: left;
  opacity: 1;
  margin-top: 8px;
  margin-bottom: 18px;
}

.cardImage img {
  width: 5.125rem;
  height: 5.125rem;
  border-radius: 50%;
}

.cardContent span {
  text-align: left;
  font-family: var(--fontMain);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0rem;
  color: var(--titleTwoColor);
  opacity: 1;
}


/* RESPONSIVO DESKTOP */
@media screen and (min-width: 1305px) {
  .cardContainer{
    width: 100%;
  }
}

/* @media screen and (min-width: 1112px) and (max-width: 1305px) {

  .cardContainer{
    width: 600px;
    height: 235px;
    margin: 20px;
  }
} */

@media screen and (min-width: 1000px) and (max-width: 1582px){
  .cardContainer{
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 999px){
  .cardContainer{
    width: 100%;
    flex-direction: column;
  }
  .cardContentTitle{
    flex-direction: column;
  }
}
@media screen and (min-width: 300px) and (max-width: 479px){
  .cardContainer{
    width: 100%;
  }
  .cardContentTitle h3,
  .cardContentTitle p,
  .tweetText {
    font-size: 12px;
  }

  .cardContainer a span {
    font-weight: normal;
  }

}