/* RESPONSIVO DESKTOP */
@media screen and (min-width: 1112px) and (max-width: 1600px) {
  .swiper-backface-hidden .swiper-slide img{
    width: 195px;
    height: 250px;
  }
  .swiper-backface-hidden .swiper-slide p{
    padding-top: 180px;
    padding-left: 10px;
  }
  .swiper-backface-hidden .swiper-slide span{
    padding-top: 200px;
    padding-left: 10px;
  }
}

/* RESPONSIVO TABLET */
@media screen and (min-width: 768px) and (max-width: 1112px) {
  .swiper-container{
    width: 1112px;
  }

  .swiper-backface-hidden .swiper-slide img{
    width: 130px;
    height: 250px;
  }
  .swiper-backface-hidden .swiper-slide p{
    padding-top: 180px;
    padding-left: 10px;
    font-size: 14px;
  }
  .swiper-backface-hidden .swiper-slide span{
    padding-top: 200px;
    padding-left: 10px;
    font-size: 14px;
  }
}

/* RESPONSIVO TABLET 2*/
@media screen and (min-width: 550px) and (max-width: 768px) {
  .swiper-container{
    width: 768px;
  }
  .swiper-backface-hidden .swiper-slide img{
    width: 287px;
    height: 287px;
  }
  .swiper-backface-hidden .swiper-slide p{
    padding-top: 180px;
    padding-left: 10px;
    font-size: 14px;
  }
  .swiper-backface-hidden .swiper-slide span{
    padding-top: 200px;
    padding-left: 10px;
    font-size: 14px;
  }
/*  .swiper-slide-active{ 
    width: 200.6px;
    margin-right: 150px;
} */
}

/* RESPONSIVO MOBILE */
@media screen and (min-width: 414px) and (max-width: 480px) {
  .swiper-container{
    width: 160px;
  }

  .swiper{
    padding: 0;
  }
  .swiper-slide{
    width: 287px;
  }
}