
/* RESPONSIVO DESKTOP */
/* @media screen and (min-width: 1501) and (max-width: 2000px){

  .swiper{
    padding: 114px 20px;
  }
}
/* and (min-width: 768px)  */
 /*@media screen and (max-width: 1500px) {

  .swiper{
    padding: 114px 0;
   
   }

  .swiper-container{
    width: 1500px;
  }

 .swiper-backface-hidden .swiper-slide img{
    width: 300px;
    height: 250px;
  }

} */
 
/* RESPONSIVO TABLET */
/* and  (max-width: 1160px)  */

/* RESPONSIVO MOBILE */
 /*@media screen and (max-width: 480px) {

  

  .swiper {
   padding: 50px 50px;
  }

  .swiper-container{
    width: 100px;
  }

  .swiper-container{
    width: 160px;
  }

  .swiper{
    padding: 0;
  }
  .swiper-slide{
    width: 287px;
  } 
}*/

/* and (min-width: 375px ) */
@media screen and (max-width: 480px) {
  .swiper-backface-hidden .swiper-slide img{
    width: 150px;
    height: 250px;
    margin-left: auto;
  }
  .swiper-button-prev,
  .swiper-button-disabled{
    background: transparent;
  }
}

@media screen and (max-width: 374px) {
  .swiper-backface-hidden .swiper-slide img{
    width: 100px;
    height: 250px;
  }
}